{% extends 'base.html' %}
{% block body %}
<div class="dubai-background" id="layoutAuthentication_content">
    <main>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <div class="card shadow-lg border-0 rounded-lg mt-5">
                        <div class="card-header"><h3 class="text-center font-weight-light my-4">Login</h3></div>
                        <div class="card-body">
                            <form method="POST">

                                {% csrf_token %}
                                <div class="form-floating mb-3">
                                    <input class="form-control" required id="username" type="text" name="username" />
                                    <label for="username">Username</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input class="form-control" required id="password" type="password" name="password" />
                                    <label for="password">Password</label>
                                </div>

                                <!--
                                <div class="form-check mb-3">
                                    <input class="form-check-input" id="inputRememberPassword" type="checkbox" value="" />
                                    <label class="form-check-label" for="inputRememberPassword">Remember Password</label>
                                </div>
                                -->

                                <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                                    <!--
                                    <a class="small" href="password.html">Forgot Password?</a>
                                    -->
                                    {% if login_error %}
                                    <div class="text-danger">{{login_error}}</div>
                                    {% else %}
                                    <div>Please enter your username and password.</div>
                                    {% endif %}
                                    <input type="submit" class="btn btn-primary">
                                </div>
                            </form>
                        </div>
                        <div class="card-footer text-center py-3">
                            <div class="small"><a href="register">Need an account? Sign up!</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
{% endblock body %}